<!DOCTYPE html>
<html>
  <head>
    <title>Skymgmt</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body data-controller="cursor" style=" <%= 'width: 100vw; overflow-x: hidden;' if params[:action] == 'index'%>">
    <div data-controller="modal">    
      <%= render 'shared/header' %>
      <%= yield %>
      <%= render 'shared/footer' %>
      <% if params[:action] == 'index' %>
        <%= render 'shared/modal' %>
      <% end %>
    </div>
  </body>

  <div class="cursor-dot-outline"></div>
  <div class="cursor-dot"></div>
</html>
